<section>
    <div id="about-me">
        <button class="expand-button" onclick="toggleSection('about-me')">Expand About Me</button>
        <h2>About Me</h2>
        <div class="expandable-content" id="about-me-content" style="display: none;">
            <p>I work with people all over the world to create impressive and functional websites that reflect each client's unique personality.</p>
        </div>
    </div>

    <div id="education">
        <button class="expand-button" onclick="toggleSection('education')">Expand Education</button>
        <h2>Education</h2>
        <div class="expandable-content" id="education-content" style="display: none;">
            <p>Загальна інформація про освіту...</p>
        </div>
    </div>
</section>
