<section id="benefits" class="section-benefits section">
  <div class="main-container container">
    <h4 class="title-benefits">Benefits of working with me</h4>
    <div class="container-benefits-with-button">
      <ul class="list-benefits">
        <li class="item-benefits">
          <svg class="benefits-icon" width="48" height="48">
            <use href="./images/icons.svg#icon-user"></use>
          </svg>
          <div>
            <h3 class="title-list-benefits">Expertise</h3>
            <p class="description-benefits">
              As a highly experienced developer, I have deep knowledge of
              programming and website development.
            </p>
          </div>
        </li>
        <li class="item-benefits">
          <svg class="benefits-icon" width="48" height="48">
            <use href="./images/icons.svg#icon-message"></use>
          </svg>
          <div>
            <h3 class="title-list-benefits">Communication</h3>
            <p class="description-benefits">
              Understanding your needs and wants is my priority and I am always
              open to discussions and corrections.
            </p>
          </div>
        </li>
        <li class="item-benefits">
          <svg class="benefits-icon" width="48" height="48">
            <use href="./images/icons.svg#icon-brush"></use>
          </svg>
          <div>
            <h3 class="title-list-benefits">Art</h3>
            <p class="description-benefits">
              Thanks to my creative nature, I am ready to accept challenges and
              help you bring your ideas to life.
            </p>
          </div>
        </li>
        <li class="item-benefits">
          <svg class="benefits-icon" width="48" height="48">
            <use href="./images/icons.svg#icon-hourglass"></use>
          </svg>
          <div>
            <h3 class="title-list-benefits">Urgent execution</h3>
            <div class="description-benefits">
              I understand how important time is to you. Ready to work quickly
              and efficiently, without reducing the quality of work.
            </div>
          </div>
        </li>
      </ul>
      <a class="button-order-benefits" href="#work-together" data-mobile-open>
        Order the project
      </a>
    </div>
  </div>
</section>
