<section class="section-benefits section">
  <div class="container main-container">
    <h4 class="title-benefits">Benefits of working with me</h4>
    <div class="container-benefits-button">
      <ul class="list-benefits">
        <li class="item-benefits">
          <svg class="benefits-icon" width="48" height="48">
            <use href="../images/icons.svg#icon-user"></use>
          </svg>
          <h3 class="title-list-benefits">Expertise</h3>
          <p class="description-benefits">
            As a highly experienced developer, I have deep knowledge of
            programming and website development.
          </p>
        </li>
        <li class="item-benefits">
          <svg class="benefits-icon" width="48" height="48">
            <use href="../images/icons.svg#icon-message"></use>
          </svg>
          <h3 class="title-list-benefits">Communication</h3>
          <p class="description-benefits">
            Understanding your needs and wants is my priority and I am always
            open to discussions and corrections.
          </p>
        </li>
        <li class="item-benefits">
          <svg class="benefits-icon" width="48" height="48">
            <use href="../images/icons.svg#icon-brush"></use>
          </svg>
          <h3 class="title-list-benefits">Art</h3>
          <p class="description-benefits">
            Thanks to my creative nature, I am ready to accept challenges and
            help you bring your ideas to life.
          </p>
        </li>
        <li class="item-benefits">
          <svg class="benefits-icon" width="48" height="48">
            <use href="../images/icons.svg#icon-hourglass"></use>
          </svg>
          <h3 class="title-list-benefits">Urgent execution</h3>
          <div class="description-benefits">
            I understand how important time is to you. Ready to work quickly and
            efficiently, without reducing the quality of work.
          </div>
        </li>
      </ul>
      <button class="button-order-benefits" type="button" data-mobile-open>
        Order the project
      </button>
    </div>
  </div>
</section>
