<section class="covers-section section" id="covers">
  <h2 class="covers-hidden">Covers</h2>
  <div class="content-covers">
    <ul class="marquee-inner">
      <li class="marquee">
        <div class="marquee__line">
          <picture>
            <source
              class="covers-image"
              srcset="
                ./images/covers_img_4_1x.jpg 1x,
                ./images/covers_img_4_2x.jpg 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ./images/covers_img_4_1x.jpg 1x,
                ./images/covers_img_4_2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <img
              class="covers-image"
              src="./images/covers_img_4_1x.jpg"
              alt="cover-make-up"
              width="282"
              loading="lazy"
            />
          </picture>
        </div>
        <div class="marquee__line">
          <picture>
            <source
              class="covers-image"
              srcset="
                ./images/covers_img_8_1x.jpg 1x,
                ./images/covers_img_8_2x.jpg 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ./images/covers_img_8_1x.jpg 1x,
                ./images/covers_img_8_2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <img
              class="covers-image"
              src="./images/covers_img_8_1x.jpg"
              alt="cover-transforming-your-body"
              width="282"
              loading="lazy"
            />
          </picture>
        </div>
        <div class="marquee__line">
          <picture>
            <source
              class="covers-image"
              srcset="
                ./images/covers_img_5_1x.jpg 1x,
                ./images/covers_img_5_2x.jpg 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ./images/covers_img_5_1x.jpg 1x,
                ./images/covers_img_5_2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <img
              class="covers-image"
              src="./images/covers_img_5_1x.jpg"
              alt="cover-mimino"
              width="282"
              loading="lazy"
            />
          </picture>
        </div>
        <div class="marquee__line">
          <picture>
            <source
              class="covers-image"
              srcset="
                ./images/covers_img_9_1x.jpg 1x,
                ./images/covers_img_9_2x.jpg 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ./images/covers_img_9_1x.jpg 1x,
                ./images/covers_img_9_2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <img
              class="covers-image"
              src="./images/covers_img_9_1x.jpg"
              alt="cover-finances-masterfully"
              width="282"
              loading="lazy"
            />
          </picture>
        </div>
      </li>
      <li class="marquee">
        <div class="marquee__line">
          <picture>
            <source
              class="covers-image"
              srcset="
                ./images/covers_img_1_1x.jpg 1x,
                ./images/covers_img_1_2x.jpg 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ./images/covers_img_1_1x.jpg 1x,
                ./images/covers_img_1_2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <img
              class="covers-image"
              src="./images/covers_img_1_1x.jpg"
              alt="cover-turn-your-bisiness"
              width="282"
              loading="lazy"
            />
          </picture>
        </div>
        <div class="marquee__line">
          <picture>
            <source
              class="covers-image"
              srcset="
                ./images/covers_img_6_1x.jpg 1x,
                ./images/covers_img_6_2x.jpg 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ./images/covers_img_6_1x.jpg 1x,
                ./images/covers_img_6_2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <img
              class="covers-image"
              src="./images/covers_img_6_1x.jpg"
              alt="cover-traditional-ukrainian-artistry"
              width="282"
              loading="lazy"
            />
          </picture>
        </div>
        <div class="marquee__line">
          <picture>
            <source
              class="covers-image"
              srcset="
                ./images/covers_img_7_1x.jpg 1x,
                ./images/covers_img_7_2x.jpg 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ./images/covers_img_7_1x.jpg 1x,
                ./images/covers_img_7_2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <img
              class="covers-image"
              src="./images/covers_img_7_1x.jpg"
              alt="cover-organic-vegetables"
              width="282"
              loading="lazy"
            />
          </picture>
        </div>
        <div class="marquee__line">
          <picture>
            <source
              class="covers-image"
              srcset="
                ./images/covers_img_2_1x.jpg 1x,
                ./images/covers_img_2_2x.jpg 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ./images/covers_img_2_1x.jpg 1x,
                ./images/covers_img_2_2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <img
              class="covers-image"
              src="./images/covers_img_2_1x.jpg"
              alt="cover-stay-healthy"
              width="282"
              loading="lazy"
            />
          </picture>
        </div>
      </li>
      <li class="marquee">
        <div class="marquee__line">
          <picture>
            <source
              class="covers-image"
              srcset="
                ./images/covers_img_3_1x.jpg 1x,
                ./images/covers_img_3_2x.jpg 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ./images/covers_img_3_1x.jpg 1x,
                ./images/covers_img_3_2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <img
              class="covers-image"
              src="./images/covers_img_3_1x.jpg"
              alt="cover-fresh-box"
              width="282"
              loading="lazy"
            />
          </picture>
        </div>
        <div class="marquee__line">
          <picture>
            <source
              class="covers-image"
              srcset="
                ./images/covers_img_10_1x.jpg 1x,
                ./images/covers_img_10_2x.jpg 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ./images/covers_img_10_1x.jpg 1x,
                ./images/covers_img_10_2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <img
              class="covers-image"
              src="./images/covers_img_10_1x.jpg"
              alt="cover-learning-english"
              width="282"
              loading="lazy"
            />
          </picture>
        </div>
        <div class="marquee__line">
          <picture>
            <source
              class="covers-image"
              srcset="
                ./images/covers_img_4_1x.jpg 1x,
                ./images/covers_img_4_2x.jpg 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ./images/covers_img_4_1x.jpg 1x,
                ./images/covers_img_4_2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <img
              class="covers-image"
              src="./images/covers_img_4_2x.jpg"
              alt="cover-make-up"
              width="282"
              loading="lazy"
            />
          </picture>
        </div>
        <div class="marquee__line">
          <picture>
            <source
              class="covers-image"
              srcset="
                ./images/covers_img_4_1x.jpg 1x,
                ./images/covers_img_4_2x.jpg 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ./images/covers_img_4_1x.jpg 1x,
                ./images/covers_img_4_2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <img
              class="covers-image"
              src="./images/covers_img_4_2x.jpg"
              alt="cover"
              width="282"
              loading="lazy"
            />
          </picture>
        </div>
      </li>
      <li class="marquee">
        <div class="marquee__line">
          <picture>
            <source
              class="covers-image"
              srcset="
                ./images/covers_img_1_1x.jpg 1x,
                ./images/covers_img_1_2x.jpg 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ./images/covers_img_1_1x.jpg 1x,
                ./images/covers_img_1_2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <img
              class="covers-image"
              src="./images/covers_img_1_1x.jpg"
              alt="cover-turn-your-bisiness"
              width="282"
              loading="lazy"
            />
          </picture>
        </div>
        <div class="marquee__line">
          <picture>
            <source
              class="covers-image"
              srcset="
                ./images/covers_img_6_1x.jpg 1x,
                ./images/covers_img_6_2x.jpg 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ./images/covers_img_6_1x.jpg 1x,
                ./images/covers_img_6_2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <img
              class="covers-image"
              src="./images/covers_img_6_1x.jpg"
              alt="cover-traditional-ukrainian-artistry"
              width="282"
              loading="lazy"
            />
          </picture>
        </div>
        <div class="marquee__line">
          <picture>
            <source
              class="covers-image"
              srcset="
                ./images/covers_img_7_1x.jpg 1x,
                ./images/covers_img_7_2x.jpg 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ./images/covers_img_7_1x.jpg 1x,
                ./images/covers_img_7_2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <img
              class="covers-image"
              src="./images/covers_img_7_1x.jpg"
              alt="cover-organic-vegetables"
              width="282"
              loading="lazy"
            />
          </picture>
        </div>
        <div class="marquee__line">
          <picture>
            <source
              class="covers-image"
              srcset="
                ./images/covers_img_2_1x.jpg 1x,
                ./images/covers_img_2_2x.jpg 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ./images/covers_img_2_1x.jpg 1x,
                ./images/covers_img_2_2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <img
              class="covers-image"
              src="./images/covers_img_2_1x.jpg"
              alt="cover-stay-healthy"
              width="282"
              loading="lazy"
            />
          </picture>
        </div>
      </li>
    </ul>
  </div>
</section>
