<section class="hero-section trigger-scroll-top-section">
  <div class="container">
    <h1 class="title-hero" data-aos="fade-right">
      Hello.<br />I’m Fullstack developer Lloyd Jefferson.
    </h1>

    <address class="mail-addres" data-aos="fade-left">
      <ul class="social-list">
        <li class="social-item">
          <a
            href="https://www.instagram.com/goitclub/"
            target="_blank"
            class="item-soc"
            >IG</a
          >
        </li>
        <li class="social-item">
          <a
            href="https://www.facebook.com/goITclub/"
            target="_blank"
            class="item-soc"
            >FB</a
          >
        </li>
        <li class="social-item">
          <a
            href="https://www.youtube.com/c/GoIT"
            target="_blank"
            class="item-soc"
            >YT</a
          >
        </li>
        <li class="social-item">
          <a
            href="https://kulakilya.github.io/team-project-2/"
            target="_blank"
            class="item-soc"
            >GH</a
          >
        </li>
      </ul>
      <a
        href="mailto:lloydjefferson@gmail.com"
        target="_blank"
        class="mail-link"
        >lloydjefferson@gmail.com</a
      >
    </address>
  </div>
</section>
