<section class="hero-section container">
  <div><h1 class="title-hero">Hello. I’m Fullstack developer Lloyd Jefferson.</h1>
    <nav class="soc-media">
      <ul class="social-list">
        <li class="social-item"><a href="">IG
        </a></li>
        <li class="social-item"><a href="">FB
        </a></li>
        <li class="social-item"><a href="">YT
        </a></li>
        <li class="social-item"><a href="">GH
        </a></li>
      </ul>
      <address class="mail-addres">
        <a href="mailto:lloydjefferson@gmail.com">lloydjefferson@gmail.com</a>
      </address>
    </nav>
  </div>
</section>
