<div class="mob-menu mob-container is-hidden" data-modal>
  <div class="top-div">
    <button
      class="close_menu_btn"
      aria-label="button close menu"
      data-menu-close
      type="button"
    >
      <svg class="icon-btn-menu">
        <use href="./images/icons.svg#icon-x-close"></use>
      </svg>
    </button>
  </div>
  <nav class="mob-nav">
    <ul class="mob-menu-list">
      <li class="mob-menu-item">
        <a href="#about" class="mob-menu-anchor link">About me</a>
      </li>
      <li class="mob-menu-item">
        <a href="#benefits" class="mob-menu-anchor link">Benefits</a>
      </li>
      <li class="mob-menu-item">
        <a href="#projects" class="mob-menu-anchor link">Projects</a>
      </li>
      <li class="mob-menu-item">
        <a href="#faq" class="mob-menu-anchor link">FAQ</a>
      </li>
    </ul>
    <div class="mob-menu-theme-picker">
      <load ="partials/theme-picker.html" />
    </div>
  </nav>

  <a class="order-btn-menu" href="#work-together">Order the project</a>
</div>
