<section id="projects" class="section projects-section">
  <div class="container">
    <h2 class="section-title">PROJECTS</h2>
    <div class="projects-swiper-container swiper-container">
      <ul class="projects-swiper-wrapper swiper-wrapper">
        <li class="projects-swiper-slide swiper-slide" data-aos="fade-up">
          <div class="projects-white-side">
            <ul class="projects-tech-list">
              <li class="projects-tech-item">#react</li>
              <li class="projects-tech-item">#js</li>
              <li class="projects-tech-item">#node js</li>
              <li class="projects-tech-item">#git</li>
            </ul>
            <h3 class="projects-slide-title">
              Programming Across Borders: Ideas, Technologies, Innovations
            </h3>

            <a
              href="https://github.com/KulakIlya/team-project-2"
              class="projects-slide-link"
              target="_blank"
              >See project</a
            >
          </div>
          <div class="projects-dark-side">
            <picture>
              <source
                srcset="
                  ./images/projects_tablet_img_1_1x.webp 1x,
                  ./images/projects_tablet_img_1_2x.webp 2x
                "
                type="image/webp"
              />
              <img
                src="./images/projects_tablet_img_1_1x.webp"
                alt="read journey"
                class="projects-img"
                loading="lazy"
              />
            </picture>
          </div>
        </li>
        <li class="projects-swiper-slide swiper-slide">
          <div class="projects-white-side">
            <ul class="projects-tech-list">
              <li class="projects-tech-item">#react</li>
              <li class="projects-tech-item">#js</li>
              <li class="projects-tech-item">#node js</li>
              <li class="projects-tech-item">#git</li>
            </ul>
            <h3 class="projects-slide-title">
              Programming Across Borders: Ideas, Technologies, Innovations
            </h3>

            <a
              href="https://github.com/KulakIlya/team-project-2"
              class="projects-slide-link"
              target="_blank"
              >See project</a
            >
          </div>
          <div class="projects-dark-side">
            <picture>
              <source
                srcset="
                  ./images/projects_tablet_img_2_1x.webp 1x,
                  ./images/projects_tablet_img_2_2x.webp 2x
                "
                type="image/webp"
              />
              <img
                src="./images/projects_tablet_img_2_1x.webp"
                alt="read journey"
                class="projects-img"
                loading="lazy"
              />
            </picture>
          </div>
        </li>
        <li class="projects-swiper-slide swiper-slide">
          <div class="projects-white-side">
            <ul class="projects-tech-list">
              <li class="projects-tech-item">#react</li>
              <li class="projects-tech-item">#js</li>
              <li class="projects-tech-item">#node js</li>
              <li class="projects-tech-item">#git</li>
            </ul>
            <h3 class="projects-slide-title">
              Programming Across Borders: Ideas, Technologies, Innovations
            </h3>

            <a
              href="https://github.com/KulakIlya/team-project-2"
              class="projects-slide-link"
              target="_blank"
              >See project</a
            >
          </div>
          <div class="projects-dark-side">
            <picture>
              <source
                srcset="
                  ./images/projects_tablet_img_3_1x.webp 1x,
                  ./images/projects_tablet_img_3_2x.webp 2x
                "
                type="image/webp"
              />
              <img
                src="./images/projects_tablet_img_3_1x.webp"
                alt="read journey"
                class="projects-img"
                loading="lazy"
              />
            </picture>
          </div>
        </li>
      </ul>
      <div class="projects-button-wrapper">
        <button type="button" class="projects-button projects-button-prev">
          <svg class="projects-button-icon">
            <use href="./images/icons.svg#icon-arrow-left"></use>
          </svg>
        </button>
        <button type="button" class="projects-button projects-button-next">
          <svg class="projects-button-icon">
            <use href="./images/icons.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
