<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <section class="section">

        <div class="container container-reviews">

            <h2 class="reviews-h2"> REVIEWS </h2>

            <div class="swiper">


                <ul class="swiper-wrapper reviews-ul">

                    <li class="swiper-slide">

                        <img srcset="./images/reviews_natalia@1x.png 1x, ./images/reviews_natalia@2x.png 2x"
                            src="./images/reviews_natalia@1x.png" alt="photo" width="48" height="48" loading="lazy">
                        <div class="">
                            <h3 class="reviews-name">Natalia</h3>
                            <p class="reviews-text">Work with was extraordinary! He turned out to be a very
                                competent
                                and responsible specialist. The projects were
                                completed on time and the result exceeded my expectations</p>
                        </div>

                    </li>


                    <li class="swiper-slide">

                        <img srcset="./images/reviews_dmytro@1x.png 1x, ./images/reviews_dmytro@2x.png 2x"
                            src="./images/reviews_dmytro@1x.png" alt="photo" width="48" height="48" loading="lazy">
                        <div class="">
                            <h3 class="reviews-name">Dmytro</h3>
                            <p class="reviews-text">I have the honor to recommend him as an exceptional
                                professional
                                in
                                his
                                field. His
                                knowledge and expertise are
                                undeniable. Cooperation with him always brings impressive results.</p>
                        </div>

                    </li>


                    <li class="swiper-slide">

                        <img srcset="./images/reviews_anna@1x.png 1x, ./images/reviews_anna@2x.png 2x"
                            src="./images/reviews_anna@1x.png" alt="photo" width="48" height="48" loading="lazy">
                        <div class="">
                            <h3 class="reviews-name">Anna</h3>
                            <p class="reviews-text">The developed project impresses with its quality and
                                efficiency.
                                The
                                code is cleanly
                                written and the functionality
                                exceeds expectations. Extremely satisfied with the cooperation!</p>
                        </div>

                    </li>


                    <li class="swiper-slide">

                        <img srcset="./images/reviews_ivetta@1x.png 1x, ./images/reviews_ivetta@2x.png 2x"
                            src="./images/reviews_ivetta@1x.png" alt="photo" width="48" height="48" loading="lazy">
                        <div class="">
                            <h3 class="reviews-name">Ivetta</h3>
                            <p class="reviews-text">Thanks for the excellent work on the project! His talent and
                                professionalism deserve
                                recognition. I recommend it to
                                everyone who is looking for an expert in the field of software development.</p>
                        </div>

                    </li>


                    <li class="swiper-slide">

                        <img srcset="./images/reviews_alex@1x.png 1x, ./images/reviews_alex@2x.png 2x"
                            src="./images/reviews_alex@1x.png" alt="photo" width="48" height="48" loading="lazy">
                        <div class="">
                            <h3 class="reviews-name">Alex</h3>
                            <p class="reviews-text">Thanks for the excellent work on the project! His talent and
                                professionalism deserve
                                recognition. I recommend it to
                                everyone who is looking for an expert in the field of software development.</p>
                        </div>

                    </li>


                </ul>



            </div>

            <!-- Кнопка "Вліво" -- <use href="./img/icons.svg#icon-arrow-left"></use>-->
            <button class="swiper-button-prev button-left" type="button">
                <svg class="button-arrow" width="32" height="32">

                </svg>
            </button>

            <!-- Кнопка "Вправо"   <use href="./img/icons.svg#icon-arrow-right"></use> -->
            <button class="swiper-button-next button-right" type="button">
                <svg width="32" height="32">

                </svg>
            </button>



        </div>

    </section>


    <script type="module" src="../js/reviews.js"></script>

</body>

</html>