<form class="theme-picker-form">
  <fieldset class="theme-picker-fieldset">
    <legend class="visually-hidden">Pick a theme color</legend>
    <label class="visually-hidden" for="red">Red theme</label>
    <input
      class="theme-picker-input"
      name="theme-picker"
      type="radio"
      value="red"
      id="red"
    />
    <label class="visually-hidden" for="green">Green theme</label>
    <input
      class="theme-picker-input"
      name="theme-picker"
      type="radio"
      value="green"
      id="green"
    />
    <label class="visually-hidden" for="blue">Blue theme</label>
    <input
      class="theme-picker-input"
      name="theme-picker"
      type="radio"
      value="blue"
      id="blue"
    />
    <label class="visually-hidden" for="dark-orange">Dark orange theme</label>
    <input
      class="theme-picker-input"
      name="theme-picker"
      type="radio"
      value="dark-orange"
      id="dark-orange"
    />
    <label class="visually-hidden" for="dark-green">Dark green theme</label>
    <input
      class="theme-picker-input"
      name="theme-picker"
      type="radio"
      value="dark-green"
      id="dark-green"
    />
    <label class="visually-hidden" for="orange">Orange theme</label>
    <input
      class="theme-picker-input"
      name="theme-picker"
      type="radio"
      value="orange"
      id="orange"
    />
  </fieldset>
</form>
