<form class="theme-picker-form">
  <fieldset class="theme-picker-fieldset">
    <legend class="visually-hidden">Pick a theme color</legend>
    <label class="visually-hidden" for="red-1">Red theme</label>
    <input
      class="theme-picker-input"
      name="theme-picker"
      type="radio"
      value="red"
      id="red-1"
    />
    <label class="visually-hidden" for="green-1">Green theme</label>
    <input
      class="theme-picker-input"
      name="theme-picker"
      type="radio"
      value="green"
      id="green-1"
    />
    <label class="visually-hidden" for="blue-1">Blue theme</label>
    <input
      class="theme-picker-input"
      name="theme-picker"
      type="radio"
      value="blue"
      id="blue-1"
    />
    <label class="visually-hidden" for="dark-orange-1">Dark orange theme</label>
    <input
      class="theme-picker-input"
      name="theme-picker"
      type="radio"
      value="dark-orange"
      id="dark-orange-1"
    />
    <label class="visually-hidden" for="dark-green-1">Dark green theme</label>
    <input
      class="theme-picker-input"
      name="theme-picker"
      type="radio"
      value="dark-green"
      id="dark-green-1"
    />
    <label class="visually-hidden" for="orange-1">Orange theme</label>
    <input
      class="theme-picker-input"
      name="theme-picker"
      type="radio"
      value="orange"
      id="orange-1"
    />
  </fieldset>
</form>
