<form class="theme-picker-form">
  <fieldset class="theme-picker-fieldset">
    <legend class="visually-hidden">Pick a theme color</legend>
    <label
      ><span class="visually-hidden">Red theme</span>
      <input
        class="theme-picker-input"
        name="theme-picker"
        type="radio"
        value="red"
      />
    </label>

    <label
      ><span class="visually-hidden">Green theme</span>
      <input
        class="theme-picker-input"
        name="theme-picker"
        type="radio"
        value="green"
      />
    </label>

    <label
      ><span class="visually-hidden">Blue theme</span>
      <input
        class="theme-picker-input"
        name="theme-picker"
        type="radio"
        value="blue"
      />
    </label>

    <label
      ><span class="visually-hidden">orange theme</span>
      <input
        class="theme-picker-input"
        name="theme-picker"
        type="radio"
        value="dark-orange"
      />
    </label>

    <label
      ><span class="visually-hidden">Dark green theme</span>
      <input
        class="theme-picker-input"
        name="theme-picker"
        type="radio"
        value="dark-green"
      />
    </label>

    <label
      ><span class="visually-hidden">Orange theme</span>
      <input
        class="theme-picker-input"
        name="theme-picker"
        type="radio"
        value="orange"
      />
    </label>
  </fieldset>
</form>
