.footer {
    padding-top: 80px;
    padding-left: 196px;   
    padding-bottom: 216px;
    padding-right: 196px;
    display: flex;
    flex-direction: column
}
.footer-container {
    background-image: url(/src/images/footer_glass_effect_1x.png);
    background-repeat: no-repeat;
}

.headerFooter {
    padding-left: 10px;
    color: aliceblue;
}
.h2Span {
    color: white;
    font-size: 64px;
    text-align:center;
    vertical-align: middle;
    
}
.Jefferson-img {
    display: inline-block;
    padding-left: 0px;
    max-width: 350px;
    font-size: 64px;
    line-height: 24px;
    vertical-align: middle;
    
    
}
.h2Work {
    color:red;
}
.Jefferson-image {
    max-width: 550px;
    font-size: 64px;
}
.footerFormOne {
    padding-top: 10px;
}
.emailInput {
background-color: var(--black);
border: none;
border-bottom:  1px solid #FAFAFA33;
width: 390px;
color: white;
margin-right: 20px;
height: 60px;
}

.messageInput {
    background-color: var(--black);
    border: none;
    border-bottom:  1px solid #FAFAFA33;
    width: 390px;
    color: white;
    margin-right: 35px;
    height: 60px;
}

.emailInput,
.messageInput {
    white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis;
}

.footerBtn {
    width: 150px; 
    height: 150px; 
    background-color: #ff5136; 
    border-radius: 50%; 
    border: none; 
    color:aliceblue;
    margin-left: 100px;
    transition: background-color 0.3s;
}
.footerBtn:hover, .footerBtn:focus {
    background-color: #ff4427;
}

.emLi {
    font-family: 'Inter Tight', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: -0.02em;
    color: #fafafa;
    text-align: center;
    border: 1px solid rgba(250, 250, 250, 0.2);
    border-radius: 30px;
    padding: 10px 12px;
    gap: 10px;
}

.emLi:hover, emLi:focus{
border: 1px solid #fafafa;
}

.tfLi {
    font-family: 'Inter Tight', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: -0.02em;
    color: #fafafa;
    text-align: center;
    border: 1px solid rgba(250, 250, 250, 0.2);
    border-radius: 60px;
    padding: 10px 12px;
    
}
.tfLi:hover, tfLi:focus {
    border: 1px solid #fafafa;
}
.ulFooter {
    display: flex;
    flex-direction: row;
    gap: 8px;
    padding-top: 60px;
}

@media screen and (min-width: 320px) {
    .footer {
        margin: 0;
        padding-top: 44px;
        padding-left: 0;   
        padding-bottom: 66px;
        padding-right: 0;
        max-width: auto;
        background-image: url(../images/footer_glass_effect_mobile.png);
        background-position: right;
        background-size: 87px;
        background-repeat: no-repeat;
    }

    .headerFooter {
        color: aliceblue;
    }
    .h2Span {
        color: white;
        font-size: 37px;
    }
    .emailForm {
        display: flex;
        flex-direction: column;
    }
    
    .Jefferson-img {
        display: inline-block;
        padding-left: 0px;
        max-width: 44px;
        font-size: 40px;
    }
    .h2Work {
        color:red;
    }
    .Jefferson-image {
        max-width: 345px;
        font-size: 40px;
    }
    .emailInput {
    width: auto;
    height: 60px;
    margin-right: 0;
    background: transparent;
    }
    
    .messageInput {
        margin-top: 20px;
        width: auto;
        margin-right: 0;
        background: transparent;
    }
    
    .footerBtn {
        margin-top: 30px;
        width: 100px;
        height: 100px; 
        margin-top: 30px;
        margin-left: 0;
    }
 .footerFormOne {
    display: flex;
    flex-direction: column;
 }
    .emLi {
        font-size: 11px;
    }
    .tfLi {
        font-size: 11px;
    }
}

@media screen and (min-width: 768px) { 
    .footer {
        margin: 0;
        padding-top: 60px;
        padding-left: 0;   
        padding-bottom: 110px;
        padding-right: 0;
        max-width: auto;
        background-image: url(../images/footer_glass_effect_tablet.png);
        background-position: right;
        background-size: 230px;
        background-repeat: no-repeat;
    }

    .h2Span {
        color: white;
        font-size: 64px;
    }
    .Jefferson-img {
        display: inline-block;
        padding-left: 0px;
        max-width: 64px;
        font-size: 64px;
    }
    .h2Work {
        color:red;
    }
    .Jefferson-image {
        max-width: 542px;
        font-size: 40px;
    }
    .emailForm {
        display: flex;
        align-items: baseline;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .emailInput {
    width: auto;
    height: 60px;
    margin-right: 20px;
    }
    
    .messageInput {
        width: auto;

        margin-top: 0;
        margin-right: 20px;
    }
    
    .footerBtn {
margin-top: 0;
        width: 150px;
        height: 150px; 
        margin-left: 0;
    }
 .footerFormOne {
    display: flex;
 }
    .emLi {
        font-size: 16px;
    }
    .tfLi {
        font-size: 16px;
    }

}

@media screen and (min-width: 1440px) {
    .footer {
        padding-top: 80px;
        padding-left: 196px;   
        padding-bottom: 216px;
        padding-right: 196px;
        display: flex;
        flex-direction: column; 
        max-width: 1440px;
        background-image: url(../images/footer_glass_effect_desktop.png);
        background-position: right;
        background-size: 420px;
        background-repeat: no-repeat;

    }

    .headerFooter {
        padding-left: 10px;
        color: aliceblue;
    }
    .h2Span {
        color: white;
        font-size: 64px;
        text-align:center;
        vertical-align: middle;
        
    }
    .Jefferson-img {
        display: inline-block;
        padding-left: 0px;
        max-width: 350px;
        font-size: 64px;
        line-height: 24px;
        vertical-align: middle;
        
        
    }
    .h2Work {
        color:red;
    }
    .Jefferson-image {
        max-width: 550px;
        font-size: 64px;
    }
    .footerFormOne {
        padding-top: 10px;
    }
    .emailInput {
    background-color: var(--black);
    border: none;
    border-bottom:  1px solid #FAFAFA33;
    width: 390px;
    color: white;
    margin-right: 20px;
    height: 60px;
    }
    
    .messageInput {
        background-color: var(--black);
        border: none;
        border-bottom:  1px solid #FAFAFA33;
        width: 390px;
        color: white;
        margin-right: 35px;
        height: 60px;
    }
    
    .footerBtn {
        width: 150px; 
        height: 150px; 
        background-color: #ff5136; 
        border-radius: 50%; 
        border: none; 
        color:aliceblue;
        margin-left: 100px;
        transition: background-color 0.3s;
    }
    .footerBtn:hover, .footerBtn:focus {
        background-color: #ff4427;
    }
    
    .emLi {
        font-family: 'Inter Tight', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        letter-spacing: -0.02em;
        color: #fafafa;
        text-align: center;
        border: 1px solid rgba(250, 250, 250, 0.2);
        border-radius: 30px;
        padding: 10px 12px;
        gap: 10px;
    }
    
    .emLi:hover, emLi:focus{
    border: 1px solid #fafafa;
    }
    
    .tfLi {
        font-family: 'Inter Tight', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        letter-spacing: -0.02em;
        color: #fafafa;
        text-align: center;
        border: 1px solid rgba(250, 250, 250, 0.2);
        border-radius: 60px;
        padding: 10px 12px;
        
    }
    .tfLi:hover, tfLi:focus {
        border: 1px solid #fafafa;
    }
    .ulFooter {
        display: flex;
        flex-direction: row;
        gap: 8px;
        padding-top: 60px;
    }
}
/* .popup {
    position: fixed;
    inset: 0;
    display: flex;
    visibility: hidden;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 10;
    transition: all .2s;
}
    .popup--show {
        visibility: visible;
    }
    .popup--show .popup__dialog {
        transform: translateY(0);
        opacity: 1;
    }
    
    .popup__dialog {
        flex-grow: 1;
        max-width: 960px;
        max-height: 95vh;
        overflow: auto;
        background-color: white;
        border-radius: 4px;
        padding: 0 10px;
        transform: translateY(30px);
        opacity: 0;
        transition: all .2s;
    }
    .popup__content {
        padding: 20px;
    } */
