.header {
  position: relative;
  padding-top: 32px;
  width: 100vw;
  position: absolute;
  height: auto;
}

.header-section {
  border: none;
  display: flex;
  align-items: flex-start;
  justify-content: start;
}

.logo_box {
  width: 172px;
  height: 80px;
}

.header-nav {
  display: flex;
}

.header-wrapper {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* .theme-picker {
  position: absolute;
  right: 500px;
} */

.menu-tab-div {
  display: none;
}

.menu {
  position: relative;
  opacity: 1;
  height: auto;
  visibility: visible;
  pointer-events: all;

  transition: all 250ms ease-in-out;
}

.menu.is-hidden {
  opacity: 0;
  height: 0;
  visibility: hidden;
  pointer-events: none;
}

.menu .theme-picker {
  margin-top: 10px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.order-btn-tab {
  display: none;
}

.btn-box {
  margin-left: auto;
}
.menu-mob-btn {
  display: flex;
  padding: 0;
  background-color: transparent;
  border: none;
  align-items: center;
  justify-content: center;
}

.icon_burger {
  width: 28px;
  height: 28px;
}

/* TABLET */

@media screen and (min-width: 768px) {
  .header-section {
    justify-content: space-between;
  }

  .menu-box-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .menu-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
  }

  /* .menu-list-item {
    
  } */

  .menu-link-text {
    display: block;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: -0.02em;

    color: #fafafa;
    transition: all 250ms ease-in-out;
  }

  .menu-link-text:hover,
  .menu-link-text:focus {
    transform: scale(1.1);
  }

  .menu-tab-div {
    display: block;
    margin-bottom: 15px;
    transition: all 250ms ease-in-out;
  }

  .menu-tab-div:hover,
  .menu-tab-div:focus {
    transform: scale(1.1);
  }

  .menu-tab {
    background-color: transparent;
    border: none;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: -0.02em;
    text-decoration: underline;

    color: #fafafa;
  }

  .order-btn-tab {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 60px;
    padding: 18px 24px;
    width: 163px;
    height: 55px;
    background: var(--accent);
    font-weight: 500;
    font-size: 14px;
    letter-spacing: -0.02em;
    color: #fafafa;

    transition: all 250ms ease-in-out;
  }

  .order-btn-tab:hover,
  .order-btn-tab:focus {
    background-color: #e0373f;
  }

  .btn-box {
    display: none;
  }
}
