.header-section {
  height: 80px;

  border: none;
  display: flex;
  align-items: flex-start;
  justify-content: start;
}

.logo_box {
  width: 172px;
  height: 80px;
}

.header-nav {
  display: flex;
}

.btn-box {
  margin-left: auto;
}
.menu-mob-btn {
  display: flex;
  padding: 0;
  background-color: transparent;
  border: none;
  align-items: center;
  justify-content: center;
}

.icon_burger {
  width: 28px;
  height: 28px;
}
