.mob-container {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.mob-menu.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: translateX(100%);
}

.mob-menu {
  position: fixed;
  top: 0;
  opacity: 1;
  visibility: visible;
  pointer-events: all;

  transform: translateX(0);

  z-index: 2;
  width: 100%;
  height: 100%;
  padding-top: 29px;
  background-image: var(--mobile-hero-bg-webP-1x);
  transition: all 300ms;
}

@media (min-resolution: 192dpi) {
  .mob-menu {
    background-image: var(--mobile-hero-bg-webP-2x);
  }
}

@media screen and (min-width: 768px) {
  .mob-menu {
    background-image: none;
  }
}

.top-div {
  display: flex;
  align-items: center;
}

.close_menu_btn {
  margin-left: auto;
  background-color: transparent;
  border: none;
  min-width: 24px;
  height: 100%;
  display: flex;
}

.icon-btn-menu {
  width: 24px;
  height: 24px;
  stroke: #ffffff;
  transform: scale(1);
  transition: transform 250ms;
}

.icon-btn-menu:hover,
.icon-btn-menu:focus {
  transform: scale(0.5);
}

.mob-nav {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.mob-menu-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mob-menu-item:not(:last-child) {
  margin-bottom: 12px;
}

.mob-menu-theme-picker {
  margin-top: 15px;
  display: inline-block;
}

.mob-menu-anchor {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #fafafa;

  padding: 2px;
  transition: font-size 250ms, border 250ms;
}

.order-btn-menu {
  display: block;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 60px;
  padding: 18px 24px;
  width: 163px;
  height: 55px;
  background: var(--accent);
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: #fafafa;

  position: absolute;
  bottom: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: border 250ms;
}
