.projects-list {
  overflow-x: hidden;
}

@media screen and (max-width: 374px) {
  .projects-title {
    font-size: 16px;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: -0.02em;
    text-align: left;
    color: #fafafa66;
    margin-bottom: 24px;
  }
  .projects-list {
    margin: 0 auto;
    min-width: 320px;
    /* height: 816px; */
    display: flex;

    /* border: 1px solid red; */
    border-radius: 24px;
  }

  .projects-item {
    /* max-width: 100%; */
    background-color: #fafafa;
    padding-top: 32px;
  }
  .item-content-list {
    width: 100%;
    gap: 6px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 72px;
    padding-left: 32px;
  }

  .content-item {
    letter-spacing: -0.02em;
    text-align: left;
    color: #1c1d20;
    padding: 13px 18px;
    border: 1px solid #1c1d2033;
    border-radius: 60px;
  }

  .item-content-text-wrapper {
    width: 100%;

    padding: 0 32px;
    margin: 0 auto 32px auto;
    text-align: left;
    text-overflow: inherit;
  }

  .item-content-text {
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: -0.03em;
    text-align: left;
    margin-bottom: 40px;
    padding: 0;
    color: #1c1d20;
  }

  .projects-btn {
    max-width: 142px;

    padding: 13px 32px 13px 32px;
    margin: 0 32px 66px 32px;
    border-radius: 60px;
    background-color: #ed3b44;
    border-color: #ed3b44;
    border-style: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.36px;
    letter-spacing: -0.02em;
    text-align: left;
    text-wrap: nowrap;
    color: #fafafa;
  }

  .projects-item2 {
    width: 100%;
    height: 406px;
    background-color: #3b3b3b;
    justify-content: center;
    align-items: center;
    padding: -32px -32px -32px -32px;
  }
  .item2-content-wrapper {
    width: 100%;

    margin: 100px 16px;
    background-color: #fafafa;
  }
  .swiper-wrapper {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;

    margin: 0 auto;
  }
  .swiper-btn {
    margin: 0 auto;
    color: #fafafa;

    gap: 4px;
    background-color: transparent;
    border-style: none;
  }
  .projects-item2-img {
    padding: 100px 0;
    margin: 0 auto;
  }
}

@media screen and (min-width: 375px) {
  .projects-title {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -0.02em;
    text-align: left;
    color: #fafafa66;
    margin-bottom: 32px;
  }
  .projects-list {
    margin: 0 auto;
    width: 342px;

    display: flex;
    /* border: 1px solid red; */
    border-radius: 24px;
  }
  .projects-item {
    width: 342px;
    background-color: #fafafa;
  }
  .item-content-list {
    padding: 32px 32px 0 32px;
    gap: 6px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 86px;
  }

  .content-item {
    font-size: 16px;
    font-weight: 500;
    line-height: 19.36px;
    letter-spacing: -0.02em;
    text-align: left;
    color: #1c1d20;
    padding: 13px 18px;
    border: 1px solid #1c1d2033;
    border-radius: 60px;
  }

  .item-content-text-wrapper {
    max-width: 282px;

    margin: 0 auto 32px auto;
    text-align: left;
  }

  .item-content-text {
    font-size: 23px;
    font-weight: 500;
    letter-spacing: -0.03em;
    text-align: left;
    margin: 0;
    padding: 0;
    color: #1c1d20;
  }

  .projects-btn {
    width: 142px;

    padding: 13px 32px 13px 32px;
    gap: 10px;
    margin: 0 32px 32px 32px;
    border-radius: 60px;
    background-color: #ed3b44;
    border-color: #ed3b44;
    border-style: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.36px;
    letter-spacing: -0.02em;
    text-align: left;
    text-wrap: nowrap;
    color: #fafafa;
  }

  .projects-item2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 476px;
    width: 342px;
    background-color: #3b3b3b;
    margin: auto;
  }
  .item2-content-wrapper {
    width: 312px;

    margin: 100px 16px;
    background-color: #fafafa;
    max-width: 282px;

    margin: 0 auto 32px auto;
    text-align: left;
    text-overflow: inherit;
  }

  .projects-item2-img {
  }
  .swiper-wrapper {
    display: flex;
    flex-wrap: nowrap;
    width: 130px;

    margin: 0 auto;
  }
  .swiper-btn {
    margin: 0 auto;

    gap: 12px;
    background-color: transparent;
    border-style: none;
  }
}

@media screen and (min-width: 768px) {
  .projects {
    width: 704px;
    margin: 0 auto;
  }

  .projects-item {
    display: block;
    width: 704px;
  }
  .item-content-text-wrapper {
    display: block;
    width: 498px;

    margin-left: 64px;
    margin-bottom: 32px;
  }

  .projects-list {
    width: 704px;
    height: 1192px;
    overflow: hidden;
  }

  .item-content-list {
    padding-top: 64px;
    padding-left: 64px;
    margin-bottom: 164px;
  }

  .item-content-text {
    font-size: 44px;
    font-weight: 500;
    line-height: 44px;
    letter-spacing: -0.03em;
    text-align: left;
    width: 496px;

    margin-bottom: 40px;
    padding: 0;
  }

  .projects-btn {
    display: block;
    width: 178px;

    text-align: center;
    margin-bottom: 64px;
    margin-top: 116px;
    margin-left: 64px;
  }
  .projects-item2 {
    width: 704px;
    height: 596px;
  }
  .projects-item2-img {
    padding: 120px 0;
    margin: 0 auto;
    min-width: 614px;
    min-height: 385px;
  }
}

@media screen and (min-width: 1440px) {
  .projects {
    width: 1380px;
  }

  .projects-list {
    width: 1376px;
  }

  .item-content-list {
    display: flex;
    flex-wrap: nowrap;
    align-items: start;
    text-align: center;
    text-wrap: nowrap;
    width: 320px;
    padding-top: 0;
    margin-top: 64px;
  }

  .projects-left-section {
    width: 688px;
  }
  .projects-item {
    display: flex;
    width: 688px;
  }

  .projects-item2 {
    margin-left: 448px;
    width: 688px;
  }
  .item-content-text-wrapper {
    margin-top: 284px;
    width: 498px;

    margin-left: -260px;
  }
  .projects-btn {
    margin-top: 506px;
    width: 178px;

    margin-left: -280px;
  }

  .projects-item2-img {
    padding: 100px 36px;
    margin: 0 auto;
  }
}
