@import url('./styles.css');

.section {
    background: #1C1D20;
}

.reviews-h2 {
    color: rgba(250, 250, 250, 0.40);
    font-family: "Inter Tight";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    /* 150% */
    letter-spacing: -0.32px;
    margin-bottom: 32px;
}

.reviews-name {
    color: #FAFAFA;

    /* Desktop_tablet/H5 */
    font-family: "Inter Tight";
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
    /* 150% */
    letter-spacing: -0.4px;
}



.reviews-text {
    color: rgba(250, 250, 250, 0.60);

    /* Desktop_tablet/Main text */
    font-family: "Inter Tight";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    /* 150% */
    letter-spacing: -0.32px;
}



.swiper-slide {
    display: flex;
    width: 320px;
    padding: 32px 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    border-radius: 20px;
    border: 1px solid rgba(250, 250, 250, 0.20);
}




.reviews-ul {
    display: flex;
    margin: auto;
}


.container-reviews {
    display: block;

}

.button-right,
.button-left {
    padding: 18px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #1C1D20;
    color: #FAFAFA33;
    border-radius: 60px;
    border: 1px solid rgba(250, 250, 250, 0.20);
}