:root {
  --black: #1c1d20;
  --lighter-dark: #242527;
  --grey: #3b3b3b;
  --red: #ed3b44;
  --white: #fafafa;
  --green: #c6e327;
  --blue: #0041e8;
  --dark-orange: #e6533c;
  --dark-green: #2b4441;
  --orange: #ff7f08;

  --accent: #ed3b44;
}
